* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    top: 0;
    height: 100px;
    background-color: lightblue;
}

header,
footer {
    position: fixed;
    left: 0;
    right: 0;
}

html,
body {
    height: 100%;
}

footer {
    display: flex;
    bottom: 0;
    height: 100px;
    background-color: darkgrey;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-top: 100px;
    padding-bottom: 50px;
}

.lightpink {
    background-color: lightpink;
    grid-column: 1/6;
    grid-row: 1/3;
}

.cadetblue {
    background-color: cadetblue;
    grid-column: 6/12;
    grid-row: 1/2;
}

.gold {
    background-color: gold;
    grid-column: 13/19;
    grid-row: 1/2;
}

.orange {
    padding: 100px;
    background-color: orange;
    grid-column: 6/19;
    grid-row: 2/2;
}
